body {
    background-color: #070707; 
}

img {
    width: 51px; 
    height: auto;
  }

  .image-link {
    text-decoration: none; 
  }

  .container {
    background-color: antiquewhite;
    text-align: center;
}

.container img {
    display: inline-block;
    margin: 21px; 
    transition: transform 0.3s;
}

.ayen
{
text-align: center;
margin-top: 50px;
}

img:hover
{
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .5);
  background-color:#ffffff;
  transition-delay: 0.3s;
  border-radius:20%;
}
